@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  font-family: "Balsamiq Sans", cursive;
}
body {
  background-color: #f5f6fa;
}
.App {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}
.App .header {
  margin: 20px auto;
  margin-top: 2px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.MuiFormLabel-root {
  font-size: 19px !important;
  font-weight: 200 !important;
}
.question {
  color: rgb(250, 73, 73) !important;
  font-weight: bolder;
}
